* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.btn-box {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.color-switcher-btn {
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  margin: 10px;
  padding: 10px 20px;
  transition: background-color 200ms ease;
}

.color-switcher-btn {
  background-color: royalblue;
}

.color-switcher-btn:hover {
  background-color: #222;
}

.color-switcher-btn:disabled {
  background-color: gray;
  cursor: not-allowed;
}



/* Timer styles */

.btn-timer {
  background-color: royalblue;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
  margin-left: 8px;
  transition: background-color 200ms ease;
}

.btn-timer:hover {
  background-color: #222;
}

.btn-timer:disabled {
  background-color: gray;
  cursor: not-allowed;
}

#datetime-picker {
  border: none;
  border-bottom: 2px solid royalblue;
  font-size: 16px;
  margin-bottom: 16px;
  padding: 8px;
  width: 100%;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 16px;
}

.value {
  font-size: 48px;
  font-weight: bold;
  color: royalblue;
  margin-bottom: 8px;
}

.label {
  font-size: 16px;
  font-weight: bolder;
  color: gray;
}